@import "tailwindcss";

:root {
  --background: #F7F4EF;
  --foreground: #171717;
}

.font-rajdhani {
  font-family: var(--font-rajdhani-bold);
}

.font-poppins {
  font-family: var(--font-poppins-regular);
}

.font-syne {
  font-family: var(--font-syne);
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
